@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src:url('../font/Noto_Sans_KR/NotoSansKR-Thin.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Thin.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Thin.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Thin.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Thin.otf') format(‘opentype’);
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('../font/Noto_Sans_KR/NotoSansKR-Light.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Light.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Light.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Light.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Light.otf') format(‘opentype’);
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('../font/Noto_Sans_KR/NotoSansKR-Regular.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Regular.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Regular.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Regular.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Regular.otf') format(‘opentype’);
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('../font/Noto_Sans_KR/NotoSansKR-Medium.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Medium.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Medium.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Medium.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Medium.otf') format(‘opentype’);
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('../font/Noto_Sans_KR/NotoSansKR-Bold.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Bold.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Bold.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Bold.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Bold.otf') format(‘opentype’);
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans KR';
    src:url('../font/Noto_Sans_KR/NotoSansKR-Black.eot?#iefix') format(‘embedded-opentype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Black.woff2') format(‘woff2’),
        url('../font/Noto_Sans_KR/NotoSansKR-Black.woff') format(‘woff’),
        url('../font/Noto_Sans_KR/NotoSansKR-Black.ttf') format(‘truetype’),
        url('../font/Noto_Sans_KR/NotoSansKR-Black.otf') format(‘opentype’);
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing :-0.05em;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

/*** header ***/
#header {
    width: 100%;
    height: 4em;
    /* background-color: antiquewhite; */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
}

/* 헤더 로고 */
#header .logo {
    margin-left: 1em;
}

#header .logo a {
    overflow: hidden;
    display: block;
    height: 2em;
}

#header .logo a:focus-visible {
    outline-offset: -1px;
}

#header .logo a img {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin: 2px 0;
}

/* 헤더 GNB */
#header .top_nav {
    width: 100%;
    margin: 0 auto;
    /* background-color: cadetblue; */
    text-align: center;
    line-height: 4em;
    overflow: hidden;
}

#header .top_nav .top_nav_menu > a {
    font-size: 1.2em;
    font-weight: 600;
    display: block;
    width: 12.5%;
    float: left;
    max-height: 3.35em;
}

.top_nav .top_nav_menu > a:focus-visible {
    outline-offset: -2px;
}

#header .top_nav > .active > a {
    color: #38a200;
}

.top_nav_menu .top_nav_bg {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 4em;
    left: 0;
    z-index: 100;
    box-shadow:0 24px 30px rgba(0,0,0,0.16);
    overflow: hidden;
    border-bottom: 2px solid #e4e4e4;
}

.top_nav .top_nav_txt {
    width: 272px;
    height: 100vh;
    overflow: hidden;
    background-color: #38a200;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    padding-top: 12em;
    font-weight: 500;
}

.top_nav .top_nav_dept1 {
    display: none;
    /* background-color: #aeaeae; */
    width: auto;
    height: 100%;
    position: absolute;
    top: 1em;
    left: 272px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
}

.top_nav .top_nav_dept1 > li {
    display: block;
    float: left;
    /* background-color: #555555; */
    margin: 0.5em;
}

.top_nav .top_nav_dept1 > li > a {
    display: block;
    width: 14em;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0 1em;
    overflow: hidden;
    background-color: #38a200;
    color: #fff;
    border-radius: 20em;
}

.top_nav .top_nav_dept1 > li > a:hover,
.top_nav .top_nav_dept1 > li > a:focus {
    color: #38a200;
    background-color: #fff;
    border: 2px solid #38a200;
}

.top_nav .top_nav_dept1 > li > a:focus:focus-visible {
    outline: medium solid #38a200;
    outline-offset: -2px;
}

.top_nav .top_nav_dept1 .top_nav_dept2 {
    width: auto;
    /* background-color: #aeaeae; */
    text-align: center;
}

.top_nav .top_nav_dept1 .top_nav_dept2 > li {
    /* display: block;
    width: 100%; */
    /* background-color: #87c566; */
    margin: 0.5em 0;
    height: 2em;
    line-height: 2em;
}

.top_nav .top_nav_dept1 .top_nav_dept2 > li > a {
    color: #999;
}

.top_nav .top_nav_dept1 .top_nav_dept2 > li > a:hover,
.top_nav .top_nav_dept1 .top_nav_dept2 > li > a:focus {
    color: #333333;
}

/* 헤더 우측 아이콘 */
#header .nav_icon {
    display: flex;
    /* background-color: cadetblue; */
    align-items: center;
    margin: 0 2em;
}

#header .nav_icon .nav_icon_items {
    padding: 0.4em;
}

#header .nav_icon .nav_icon_items a {
    color: #aeaeae;
}

#header .nav_icon .nav_icon_items img {
    display: block;
    width: 2em;
    height: 2em;
}

#header .nav_icon .nav_icon_items .nav_icon_menu {
    width: 3em;
    height: 3em;
}

#container {
    position: relative;
    top: 4em;
    margin-bottom: 10em;
}

section {
    width: 100%;
    max-width: 1350px;
    margin: 2em auto;
    overflow: hidden;
    /* background-color: bisque; */
    padding: 0 2em;
}

/* 메인비주얼 슬라이드 */
.main_visualGroup {
    width: 100%;
    height: 45em;
    position: relative;
}
.main_visualGroup .main_visualWrapper .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main_visualGroup .main_visualWrapper .main_visual_1 {
    background-image: url(../img/main_visual_1.jpg);
}
.main_visualGroup .main_visualWrapper .main_visual_2 {
    background-image: url(../img/main_visual_2.jpg);
}
.main_visualGroup .main_visualWrapper .main_visual_3 {
    background-image: url(../img/main_visual_3.jpg);
}

.main_visualGroup .swiper-pagination-bullet {
    background: none;
    opacity: 1;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #fff;
}
.main_visualGroup .swiper-pagination-bullet-active {
    background: #fff;
}
.main_visualGroup .swiper-pagination-bullet:focus-visible {
    background:#38a200;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 9em;
    padding-right: 4em;
}
.main_visualGroup .swiper-pagination {
    text-align: right;
}

.main_visual_btns {
    overflow: hidden;
    position: absolute;
    bottom: 9.2em;
    right: 2em;
    z-index: 10;
}
[class*='main_visual_btns_'] {
    width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
    border: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    float: left;
}
[class*='main_visual_btns_']:hover {
    cursor: pointer;
}
[class*='main_visual_btns_'].active {
    display: block;
}
.main_visual_btns_start {
    background-image: url(../img/play.png);
}
.main_visual_btns_stop {
    background-image: url(../img/pause.png);
}


/* 퀵메뉴 슬라이드 */
.main_quickmenuGroup {
    font-size: 1.1em;
    color: #555555;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin-top: -7em;
    position: relative;
}

.main_quickmenuGroup [class*='slide_button_'] {
    display: none;
}

.main_quickmenuGroup [class*='slide_button_']:focus-visible {
    outline: 2px solid #000 ;
}

.main_quickmenuContainer {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #fff;
}

.main_quickmenuGroup .swiper-wrapper {
    padding: 2em 0.1em;
    justify-content: space-evenly;
}
.main_quickmenuGroup .swiper-wrapper .swiper-slide {
    width: auto;
    height: auto;
    padding: 0.5em 0;
    /* background-color: #677a8f; */
}
.main_quickmenuGroup .swiper-wrapper .swiper-slide:hover,
.main_quickmenuGroup .swiper-wrapper .swiper-slide:focus {
    color: #38a200;
}
.main_quickmenu {
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #eceff2;
    /* background-color: antiquewhite; */
}
.main_quickmenu:first-child {
    border-left: 0;
}
.main_quickmenu img {
    display: block;
    margin: 0 auto;
    padding: 0 0.5em;
}
.main_quickmenu:focus-visible {
    outline-offset: -4px;
}

/*** 검색창 ***/
.main_search {
    width: 100%;
    /* background-color: #aeaeae; */
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10em;
    left: 0;
    z-index: 10;
}

.main_search_txt {
    font-size: 3em;
    text-shadow: 0px 0px 10px #323232;
    font-weight: 500;
}
.main_search_txt br {
    display: none;
}

.main_search_form {
    width: 580px;
    max-width: 36em;
    margin: 1em auto;
    margin-top: 2em;
    background-color:rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    border-radius: 1em;
    position: relative;
    box-sizing: content-box;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
}

.main_search_select::-ms-expand{
    display: none;/*for IE10,11*/
}

.main_search_form .main_search_select {
    width: 5em;
    height: 100%;
    border: 0;
    background: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    /* background-color:darkgoldenrod; */
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    background-image: url(../img/select_arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.main_search_form .main_search_select:hover {
    cursor: pointer;
}

.main_search_select option {
    background-color:rgba(0, 0, 0, 0.7);
}

.main_search_form input {
    border: 0;
    background: none;
    /* background-color:darksalmon; */
    color: #fff;
    font-size: 1.2em;
    width: 65%;
    height: 100%;
    padding: 0.5em 0;
}

.main_search_form button {
    width: 35px;
    height: 35px;
    border: 0;
    background: none;
    color: #fff;
    /* background-color:darkgoldenrod; */
}

.main_search_form button img {
    width: 100%;
    height: 100%;
}

.main_search_form .main_search_select:focus-visible,
.main_search_form input:focus-visible,
.main_search_form button:focus-visible {
    outline: 2px solid #fff;
}

.main_search_menu {
    width: 100%;
    max-width: 30em;
    height: 3em;
    /* background-color: darkgray; */
    margin: 0 auto;
    padding: 0 1em;
    color: #fff;
    font-size: 1.2em;
    position: relative;
}

.main_search_menu_txt {
    width: 7.5em;
    padding: 0.25em 0;
    border-radius: 50px;
    float: left;
    background-color: #38a200;
    color: #fff;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 1em;
}

.main_search_menu ul {
    height: auto;
    margin: 0 auto;
    padding: 0.1em;
    overflow: hidden;
    /* background-color: beige; */
    text-align: center;
    float: right;
    position: absolute;
    top: 0;
    left: 7.5em;
}

.main_search_menu ul li {
    /* background-color: antiquewhite; */
    float: left;
}

.main_search_menu ul li.main_search_menu_bar {
    color: #677a8f;
}

.main_search_menu a {
    padding: 0 0.6em;
    color: #fff;
    font-size: 1em;
    text-shadow: 0px 0px 10px #323232;
    font-weight: 400;
}

.main_search_menu ul li:first-child a {
    border-left: 0;
}

.main_search_menu a:focus-visible {
    outline: 2px solid #000;
    outline-offset: -1px;
}

/*** 게시판 ***/
.board .boardBox {
    padding: 3em 2em;
    width: 33.33333%;
    overflow: hidden;
    float: left;
    /* background-color: lightpink; */
    border: 1px solid #e4e4e4;
    border-left: 0;
    position: relative;
}

.board .boardBox:first-child {
    border-left: 1px solid #e4e4e4;
}

.board .boardBox .board_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    margin: 0 0 0.5em 0;
    padding-right: 1em;
    font-size: 2em;
    font-weight: 700;
}

.board .boardBox .board_more {
    position: absolute;
    top: 3.75em;
    right: 2.5em;
}

.board .boardBox .board_more img {
    display: block;
    width: 100%;
}

.board .boardBox .board_contents li {
    padding: 4px 0;
    font-size: 1.2em;
    overflow: hidden;
}

.board .boardBox .board_contents li span {
    color: #38a200;
    margin-right: 10px;
}


.board .boardBox .board_contents li a {
    padding-left: 0.4em;
    font-weight: 400;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.board .boardBox .board_contents li a:focus-visible {
    outline-offset: -1px;
}


/*** 바로가기 메뉴 ***/
.iconMenuBox [class*='iconMenu_'] {
    display: block;
    float: left;
    width: 19.52%;
    padding: 1.1em 3em 1.1em 0.7em;
    margin: 0.2em 0 0.2em 0.6%;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #fbfcfc;
}

.iconMenuBox .iconMenu_1 {
    margin-left: 0;
}

.iconMenuBox [class*='iconMenu_'] img {
    width: 2.2em;
    height: 2.2em;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0,-50%);
}

/*** 주요사업 ***/
.mainBusiness_title {
    text-align: center;
    margin: 0.6em 0;
    font-size: 2.4em;
    font-weight: 700;
}

.mainBusiness_group {
    width: 100%;
    overflow: hidden;
    padding: 0.1em;
}

.mainBusiness_group [class*='mainBusiness_box_'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.666%;
    height: 40vh;
    max-height: 24em;
    float: left;
    /* margin-left: 1%; */
    margin: 0.1em 0 0.1em 1%;
    border-radius: 0.1em;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 1.8em;
    font-weight: 500;
    text-shadow: 0px 0px 8px #000000;
}

.mainBusiness_group [class*='mainBusiness_box_']::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-repeat: no-repeat;
    border-radius: 0.1em;
}

.mainBusiness_group .mainBusiness_box_1 {
    margin-left: 0;
}
.mainBusiness_group .mainBusiness_box_1::before {
    background-image: url(../img/bgimg1.jpg);
    background-position: left -24px;
}
.mainBusiness_group .mainBusiness_box_2::before {
    background-image: url(../img/bgimg2.jpg);
    background-position: -286px -168px;
}
.mainBusiness_group .mainBusiness_box_3::before {
    background-image: url(../img/bgimg3.jpg);
    background-position: center;
}

.mainBusiness_group [class*='mainBusiness_box_']::after {
    content: '';
    display: block;
    width: 60%;
    height: 34%;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.mainBusiness_group .mainBusiness_box_1::after {
    background-color: rgba(0, 0, 0, 0.4);
}
.mainBusiness_group .mainBusiness_box_2::after {
    background-color: rgba(0, 0, 0, 0.5);
}
.mainBusiness_group .mainBusiness_box_3::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.mainBusiness_group [class*='mainBusiness_box_']:focus-visible {
    outline: 3px solid #ff0000;
    outline-offset: -2px;
}

/*** Korad 소식 (모바일 슬라이드) ***/
.koradNewsGroup {
    width: 100%;
    height: 100%;
    position: relative;
}

.koradNewsGroup [class*='slide_button_']:focus-visible {
    outline: 2px solid #000 ;
}
    
.koradNews_title {
    text-align: center;
    margin: 0.6em 0;
    font-size: 2.4em;
    font-weight: 700;
}

.koradNewsWrapper {
    width: 100%;
    padding: 0.5% 0;
    /* background-color: #aeaeae; */
    justify-content: space-between;
}

.koradNewsWrapper .koradNews {
    display: block;
    overflow: hidden;
    float: left;
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    border-radius: 0.2em;
    padding-bottom: 0.5em;
}

.koradNewsWrapper .koradNews:hover,
.koradNewsWrapper .koradNews:focus {
    color:#38a200;
}

.koradNewsWrapper .koradNews:focus-visible {
    outline-offset: -1px;
}

.koradNewsWrapper .koradNews_img {
    width: 100%;
    margin-bottom: 0.4em;
    border: 1px solid #ebebeb;
    border-radius: 0.2em;
    box-sizing: border-box;
}

.koradNewsGroup [class*='slide_button_'] {
    display: none;
}

/*** SNS 배너 ***/
.sns_banner {
    position: relative;
}

.sns_banner img {
    display: block;
    width: 100%;
    height: auto;
}

.sns_banner .sns_banner_txt {
    /* background-color: burlywood; */
    width: 8em;
    text-align: center;
    position: absolute;
    top: 1.4em;
    right: 16.6em;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 50px;
}

.sns_banner .sns_banner_icons {
    /* background-color: burlywood; */
    position: absolute;
    top: 2em;
    right: 10em;
}

.sns_banner .sns_icon {
    width: 4em;
    height: 4em;
    float: left;
    /* background-color:darkcyan; */
    margin: 0 3px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

.blind {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.youtube {
    background-image: url(../img/sns_icon_y.png);
}

.instagram {
    background-image: url(../img/sns_icon_i.png);
}

.naver {
    background-image: url(../img/sns_icon_n.png);
}

.facebook {
    background-image: url(../img/sns_icon_f.png);
}

/*** footer ***/
.footer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1em;
}

.footer .footer_container {
    width: 100%;
    max-width: 1350px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 2em;
}

.footer .footer_container > div {
    height: auto;
    margin: 0 auto;
    padding: 1%;
    /* background-color: lightgray; */
    float: left;
}

.footer > div h2 {
    margin-bottom: 1em;
}

.footer > div ul li {
    padding: 0.1em 0;
}

.footer hr {
    margin: 1em 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    border: 0;
}

.footer .footer_title {
    font-size: 1.2em;
    font-weight: 700;
}

.footer ul li a {
    font-size: 0.9em;
    font-weight: 300;
}

.footer ul li a strong {
    font-weight: 700;
}

.footer_site {
    width: 31%;
    margin-left: 10%;
}

.footer_site ul {
    float: left;
    width: 50%;
}

.footer_guide {
    width: 21%;
}

/* 푸터배너 슬라이드 */
.footer_bannerGroup {
    width: 24%;
    position: relative;
}

/* .footer_bannerContainer {
    width: 100%;
    position: relative;
} */

[class*='footer_bannerContainer'] {
    width: 100%;
    position: relative;
}

[class*='footer_bannerContainer'] [class*='footer_bannerSlide'] {
    display: inline-block;
    border: 1px solid #e4e4e4;
    width: 100%;
    height: 6em;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

[class*='footer_bannerContainer'] [class*='footer_bannerSlide']:focus-visible {
    outline-offset: -1px;
}

.footer_bannerSlide1 {
    background-image: url(../img/f_banner1.jpg);
}

.footer_bannerSlide2 {
    background-image: url(../img/f_banner2.jpg);
}

.footer_bannerGroup [class*='swiper-button-'] {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer_bannerGroup [class*='swiper-button-'] {
    margin-top: 0;
}

.footer_bannerGroup [class*='swiper-button-']:focus-visible {
    outline-offset: -1px;
}


.footer_bannerGroup .swiper-button-prev {
    background-image: url(../img/prev_btn.jpg);
    left: auto;
    right: 42px;
    border-right: 0;
}

.footer_bannerGroup .swiper-button-next {
    background-image: url(../img/next_btn.jpg);
    right: 12px;
}

.footer_company_info {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
    padding: 1% 2em;
}

.footer_company_info address {
    font-style: normal;
    font-size: 0.9em;
    font-weight: 300;
}

.footer_company_info cite {
    font-style: normal;
    font-size: 0.9em;
    font-weight: 300;
}

.footer_company_info a {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0,-50%);
}

/* max-width : 1330px */
@media screen and (max-width:1330px) {

    /* 바로가기 메뉴 */
    .iconMenuBox [class*='iconMenu_'] {
        width: 32.6667%;
        margin-left: 1%;
    }

    .iconMenuBox .iconMenu_4,
    .iconMenuBox .iconMenu_5 {
        width: 49.5%;
        margin-left: 1%;
    }

    .iconMenuBox .iconMenu_1,
    .iconMenuBox .iconMenu_4 {
        margin-left: 0;
    }
}

/* max-width : 1250px */
@media screen and (max-width:1250px){

    #header .top_nav .top_nav_menu > a {
        font-size: 1em;
        max-height: 4em;
    }

    /* 퀵메뉴 슬라이드 */
    .main_quickmenuGroup [class*='slide_button_'] {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid #b8b8b8;
        border-radius: 10em;
        background-color: #fff;
        background-size: auto;
        z-index: 2;
    }

    .main_quickmenuGroup .slide_button_next {
        background-image: url(../img/slide_btn_next.png);
    }

    .main_quickmenuGroup .slide_button_prev {
        background-image: url(../img/slide_btn_prev.png);
    }

    .main_quickmenuGroup .swiper-wrapper {
        padding: 2em 0.1em;
        justify-content:normal;
    }

    /* 주요사업 */
    .mainBusiness_group [class*='mainBusiness_box_'] {
        height: 36vh;
    }
    .mainBusiness_group [class*='mainBusiness_box_']::after {
        width: 65%;
        height: 35%;
    }

    /* SNS 배너 */
    .sns_banner_txt {
        display: none;
    }
    .sns_banner .sns_banner_icons {
        top: 1em;
        right: 3em;
    }
    .sns_banner .sns_icon {
        width: 3em;
        height: 3em;
    }
}

/* 태블릿 (1024px) */
@media screen and (max-width:1024px) {
    body {
        font-size: 0.9em;
    }

    #header {
        justify-content: space-between;
    }

    #header .logo a img{
        width: 200px;
        margin: 3.8px 0;
    }

    .top_nav {
        display: none;
    }

    #header .nav_icon .hidden {
        display: none;
    }

    /* 메인비주얼 슬라이드(1024) */
    .main_visualGroup {
        height: 38em;
    }

    /* 검색창 */
    .main_search .main_search_form {
        max-width: 80%;
    }

    .main_search .main_search_menu ul {
        text-align: center;
        right: 0;
    }

    /* 바로가기 메뉴 */
    .iconMenuBox .iconMenu img {
        width: 30px;
        height: 30px;
    }

    /* 주요사업 */
    .mainBusiness_group [class*='mainBusiness_box_'] {
        height: 32vh;
        font-size: 1.6em;
    }
    
    /* 푸터 */
    .footer_site, .footer_bannerGroup {
        display: none;
    }

    .footer_guide {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;
        /* background-color: antiquewhite; */
    }

    .footer_guide h2 {
        display: none;
    }

    .footer_guide ul {
        width: 80%;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    .footer_guide ul li {
        display: inline-block;
        margin: 0.2em 0.4em;
        border-left: 1px solid #e4e4e4;
        /* background-color: antiquewhite; */
    }

    .footer_guide ul li a {
        padding-left: 1em;
    }

    .footer_guide ul li a .normal_font {
        font-weight: 300;
    }

    .footer_guide ul li:first-child {
        border: none;
    }

    .footer_company_info {
        text-align: center;
        margin-bottom: 2em;
    }

    .footer_company_info a {
        display: none;
    }
}

/* max-width : 820px */
@media screen and (max-width:820px) {

    #container {
        margin-bottom: 6em;
    }

    /* 메인비주얼 슬라이드 */
    .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 6em;
    }

    .main_visual_btns {
        bottom: 6.2em;
        right: 2em;
    }

    /* 검색창 */
    .main_search {
        top: 8em;
    }
    .main_search .main_search_txt br {
        display: block;
    }

    /* 퀵메뉴 슬라이드 */
    .main_quickmenuGroup {
        margin-top: -5em;
    }

    /* 게시판 */
    .board .boardBox {
        width: 100%;
        border: 1px solid #e4e4e4;
        border-top: 0;
    }

    .board .boardBox:first-child {
        border-top: 1px solid #e4e4e4;
    }
    
    .board .boardBox .board_more {
        top: 3.5em;
    }

    /* 바로가기 메뉴 */
    .iconMenuBox [class*='iconMenu_'] {
        width: 49%;
        margin-left: 2%;
        margin-bottom: 0.2em;
    }

    .iconMenuBox .iconMenu_1,
    .iconMenuBox .iconMenu_3,
    .iconMenuBox .iconMenu_5 {
        margin-left: 0;
    }

    .iconMenuBox .iconMenu_5 {
        width: 100%;
    }

    /* 주요사업 */
    .mainBusiness_group [class*='mainBusiness_box_'] {
        width: 100%;
        height: 10em;
        margin-bottom: 1em;
        margin-left: 0;
    }
    .mainBusiness_group .mainBusiness_box_1::before {
        background-position: left -120px;
    }
    .mainBusiness_group .mainBusiness_box_2::before {
        background-position: -30px -240px;
    }
    .mainBusiness_group .mainBusiness_box_3::before {
        background-size: cover;
        background-position: center;
    }

    /* Korad 소식 (모바일 슬라이드) */
    .koradNewsGroup [class*='slide_button_'] {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid #b8b8b8;
        border-radius: 10em;
        background-color: #fff;
        background-size: auto;
        z-index: 2;
        margin-top: 0;
        /* transform: translate(0,-50%); */
    }
    
    .koradNewsGroup .slide_button_next {
        background-image: url(../img/slide_btn_next.png);
    }
    
    .koradNewsGroup .slide_button_prev {
        background-image: url(../img/slide_btn_prev.png);
    }

    /* SNS 배너 */
    .sns_banner {
        background: none;
        height: 8em;
        /* background-color: antiquewhite; */
    }
    .sns_banner img {
        display: none;
    }
    .sns_banner .sns_banner_icons {
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }

}

/* max-width : 640px */
@media screen and (max-width:640px) {

    /* 검색창 */
    .main_search .main_search_form input {
        width: 60%;
    }
}

/* max-width : 590px */
@media screen and (max-width:590px) {

    /* 검색창 */
    .main_search .main_search_form input {
        width: 50%;
    }
    .main_search_form button {
        width: 30px;
        height: 30px;
    }
    
}

/* max-width : 420px */
@media screen and (max-width:420px) {

    /* SNS 배너 */
    .sns_banner .sns_banner_icons {
        width: 14em;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

}

/* 모바일 (400px) */
@media screen and (max-width:400px) {
    #header .logo {
        margin-left: 0.5rem;
    }

    #header .logo a img{
        width: 178px;
        margin: 6.55px 0;
    }

    #header .nav_icon {
        margin: 0 1em;
    }

    section {
        padding: 0 1em;
    }

    /* 메인비주얼 슬라이드 */
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 7em;
        padding-right: 4em;
    }
    
    .main_visual_btns {
        bottom: 7.1em;
        right: 2em;
    }

    [class*='main_visual_btns_'] {
        width: 1.4em;
        height: 1.4em;
        margin: 0.4em;
    }

    /* 검색창 */
    .main_search {
        top: 6em;
    }

    /* 퀵메뉴 슬라이드 */
    .main_quickmenuGroup {
        font-size: 1.2em;
    }

    /* 게시판 */
    .board .boardBox .board_more {
        top: 3.3em;
    }

    /* 바로가기 메뉴 */
    .iconMenuBox .iconMenu {
        width: 49%;
        margin-left: 2%;
        margin: 0 0 0.4em 2%;
    }

    .iconMenuBox .iconMenu:nth-child(2n+1) {
        margin-left: 0;
    }

    .iconMenuBox .iconMenu:last-child {
        width: 100%;
    }

    /* 주요사업 */
    .mainBusiness_title {
        font-size: 2em;
    }
    .mainBusiness_group [class*='mainBusiness_box_'] {
        height: 6em;
    }
    .mainBusiness_group [class*='mainBusiness_box_'] br {
        display: none;
    }
    .mainBusiness_group [class*='mainBusiness_box_']::after {
        width: 70%;
        height: 50%;
    }

    /* Korad 소식 (모바일 슬라이드) */
    .koradNews_title {
        font-size: 2em;
    }
}

/* max-width : 380px */
@media screen and (max-width:380px) {

    /* 바로가기 메뉴 */
    .iconMenuBox [class*='iconMenu_'] {
        width: 100%;
        margin-left: 0;
    }
}